<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Panel</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <script src="https://telegram.org/js/telegram-web-app.js"></script>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      margin: 0;
      padding: 1rem;
    }

    h2, h3 {
      color: #333;
    }

    .section {
      background: #fff;
      border-radius: 8px;
      padding: 1rem;
      margin-bottom: 1.5rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    input, select, button {
      display: block;
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      padding: 0.6rem;
      font-size: 1rem;
    }

    button {
      background: #0a84ff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    button:hover {
      background: #006fe0;
    }

    img {
      max-width: 100px;
      margin-top: 0.5rem;
    }

    .item {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid #ccc;
    }

    .item button {
      width: auto;
      margin-right: 0.5rem;
      display: inline-block;
    }

    .product-card {
      background: #f9f9f9;
     border-radius: 16px;
     padding: 10px;
     text-align: center;
     box-shadow: 0 2px 6px rgba(0,0,0,0.08);
     margin-bottom: 15px;
   }

   .product-img {
     width: 100%;
     border-radius: 12px;
     margin-bottom: 8px;
   }

   .product-info strong {
     display: block;
     font-size: 18px;
     margin-bottom: 4px;
   }

   .add-btn {
     margin-top: 10px;
     font-size: 18px;
     border: none;
     background: #f2f2f2;
     border-radius: 10px;
     padding: 6px 12px;
     cursor: pointer;
   } 

    .product-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
      justify-content: center;
   }

   .product-list .item {
    width: calc(50% - 16px);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   }

  </style>
</head>
<body>
  <div id="loader" style="
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: white;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: flex;
    /* flex-direction: column; */
    ">
    <img src="https://i.gifer.com/Xqg8.gif" alt="Loading..." style="width: 150px; height: 150px;">
  </div>
  <div id="admin-panel" style="display:none;">
    <h2>⚙️ Admin Panel</h2>

    <div class="section">
      <h3>Add Product</h3>
      <input id="pname_uz" placeholder="Product name uz">
      <input id="pname_ru" placeholder="Product name ru">
      <input id="pname_en" placeholder="Product name en">
      <input id="pname_tr" placeholder="Product name tr">
      <input id="pprice" type="number" placeholder="Price (e.g. 15000)">
      <input id="pphoto" type="file" accept="image/*">
      <select id="pcategory" >
        <option value="">Select category</option>
      </select>
      <button onclick="addProduct()">➕ Add Product</button>
    </div>

    <div class="section">
      <h3>All Products</h3>
      <div id="productList">Loading...</div>
    </div>

    <div class="section">
      <h3>Categories</h3>
      <input id="catName" placeholder="New Category Name">
      <button onclick="addCategory()">➕ Add Category</button>
      <div id="categoryList">Loading...</div>
    </div>

    <div class="section">
      <h3>Admins</h3>
      <input id="adminId" placeholder="Telegram ID (int64)">
      <button onclick="addAdmin()">➕ Add Admin</button>
      <div id="adminList">Loading...</div>
    </div>
  </div>

  <div id="user-panel" style="display:none">
    <h2>👤 User Panel</h2>
    <div class="section">
      <h3>Products</h3>
      <div id="userProductList" class="product-list">Loading...</div>
    </div>
  </div>

  <script>
  // 💡 Change this to your backend URL
    const API = "https://mbbot-production.up.railway.app/api";

    const tg = window.Telegram.WebApp;
    tg.expand();

    // const userId = tg.initDataUnsafe.user.id;
    let userId;
    try {
      userId = tg.initDataUnsafe.user.id;
      if (!userId) throw new Error("User not available from Telegram Web App")
    } catch (e) {
      alert("❌ Failed to get Telegram user. Please open the bot via Telegram Web App")
      console.error(e)
    }

    fetch("https://mbbot-production.up.railway.app/api/check-role", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ user_id: userId })
    })
    .then(res => res.json())
    .then(data => {
      document.getElementById("loader").style.display = "none";
        if (data.role === "admin") {
        showAdminPanel();  // твоя функция
        } else {
        showUserPanel();   // твоя функция
        }
    })
    .catch(err => {
        console.error("Ошибка при получении роли:", err);
    });

    function showAdminPanel() {
        fetchCategories();
        loadProducts();
        loadCategories();
        loadAdmins();
        window.addEventListener("DOMContentLoaded", loadProducts)
        document.getElementById("admin-panel").style.display = "block";
        document.getElementById("user-panel").style.display = "none";
    }

    function showUserPanel() {
        loadUserProducts();
        document.getElementById("admin-panel").style.display = "none";
        document.getElementById("user-panel").style.display = "block";
    }

    // async function checkAdmin() {
    //   const userTelegramId = tg.initDataUnsafe.user.id;
    //   const res = await fetch(`${API}/admins/${userTelegramId}`);
      
    //   if (res.ok) {
    //     document.getElementById("adminPanel").style.display = "block";
    //   } else {
    //     document.getElementById("userPanel").style.display = "block";
    //   }
    // }

    async function fetchCategories() {
      const res = await fetch(`${API}/categories`);
      const categories = await res.json();
      const select = document.getElementById("pcategory");
      select.innerHTML = "";
      categories.forEach(cat => {
        const opt = document.createElement("option");
        opt.value = cat.id;
        opt.textContent = cat.name;
        select.appendChild(opt);
      });
    }

    // async function loadProducts() {
    //   const res = await fetch(`${API}/get-products`);
    //   const products = await res.json();
    //   const list = document.getElementById("productList");
    //   list.innerHTML = "";

    //   products.forEach(p => {
    //     const div = document.createElement("div");
    //     div.className = "item";
    //     div.innerHTML = `
    //       <b>${p.name}</b> — ${p.price} so'm<br>
    //       <img src="${p.photo}" alt="${p.name}"><br>
    //       <button onclick="editProduct(${p.id}, '${p.name}', ${p.price}, '${p.photo}', ${p.category_id})">✏️ Edit</button>
    //       <button onclick="deleteProduct(${p.id})">🗑️ Delete</button>
    //     `;
    //     list.appendChild(div);
    //   });
    // }
    async function loadProducts() {
      try {
        const res = await fetch(`${API}/get-products`);
    
        // 🔍 Проверим, успешный ли ответ
        if (!res.ok) {
          throw new Error(`HTTP error! Status: ${res.status}`);
        }

        const products = await res.json();
        console.log("Loaded products:", products);

        const list = document.getElementById("productList");
        list.innerHTML = "";

        products.forEach(p => {
          const div = document.createElement("div");
          div.className = "item";
          div.innerHTML = `
            <b>${p.name_uz}</b> — ${p.price} so'm<br>
            <b>${p.name_ru}</br>
            <b>${p.name_en}</br>
            <b>${p.name_tr}</br>
            <img src="${p.photo}" alt="${p.name_uz}"><br>
            <button onclick="editProduct(${JSON.stringify(p.id)}, '${p.name_uz}','${p.name_ru}','${p.name_en}','${p.name_tr}', ${p.price}, '${p.photo}', ${JSON.stringify(p.category_id)})">✏️ Edit</button>
            <button onclick="deleteProduct(${p.id})">🗑️ Delete</button>
          `;
          list.appendChild(div);
        });

      } catch (err) {
        console.error("❌ Error loading products:", err.message);
        alert("❌ Failed to load products: " + err.message);
      }
    }


    async function addProduct() {
      const name_uz = document.getElementById("pname_uz").value;
      const name_ru = document.getElementById("pname_ru").value;
      const name_en = document.getElementById("pname_en").value;
      const name_tr = document.getElementById("pname_tr").value;
      const price = parseInt(document.getElementById("pprice").value);
      const categoryId = document.getElementById("pcategory").value;
      const photoInput = document.getElementById("pphoto");
      const photoFile = photoInput.files[0];

      if (!name_uz || !name_ru || !name_en || !name_tr || !price || !categoryId || !photoFile) {
        alert("⚠️ Please fill all fields and upload a photo.");
        return;
      }

      const formData = new FormData();
      formData.append("name_uz", name_uz);
      formData.append("name_ru", name_ru);
      formData.append("name_en", name_en);
      formData.append("name_tr", name_tr);
      formData.append("price", price);
      formData.append("category_id", categoryId);
      formData.append("photo", photoFile);

      const res = await fetch(`${API}/products`, {
        method: "POST",
        body: formData
      });

      if (res.ok) {
        alert("✅ Product added");
        loadProducts();
      } else {
        alert("❌ Failed to add product");
      }
    }


    function editProduct(id, name_uz, name_ru, name_en, name_tr, price, photo, category_id) {
      const newName_uz = prompt("New name uz:", name_uz) || name_uz;
      const newName_ru = prompt("New name ru:", name_ru) || name_ru;
      const newName_en = prompt("New name en:", name_en) || name_en;
      const newName_tr = prompt("New name tr:", name_tr) || name_tr;
      const newPrice = parseInt(prompt("New price:", price) || price);
      const newPhoto = prompt("New photo URL:", photo) || photo;

      fetch(`${API}/products/${id}`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          name_uz: newName_uz,
          name_ru: newName_ru,
          name_en: newName_en,
          name_tr: newName_tr,
          price: newPrice,
          photo: newPhoto,
          category_id: category_id
        })
      }).then(res => {
        res.ok ? (alert("✅ Product updated"), loadProducts()) : alert("❌ Failed to update");
      });
    }

    async function deleteProduct(id) {
      if (!confirm("Delete this product?")) return;
      const res = await fetch(`${API}/products/${id}`, { method: "DELETE" });
      res.ok ? (alert("✅ Deleted"), loadProducts()) : alert("❌ Failed");
    }

    async function loadUserProducts() {
      const res = await fetch(`${API}/get-products`);
      const products = await res.json();
      const list = document.getElementById("userProductList");
      list.innerHTML = "";

      products.forEach(p => {
        const card = document.createElement("div");
        card.className = "product-card";
        card.innerHTML = `
          <img class="product-image" src="${p.photo}" alt="${p.name_uz}"/>
          <div class="product-info">
            <strong>${p.price.toLocaleString()} UZS</strong>
            <p>${p.name_uz}</p>
            <button class="add-btn" onclick="addToCart('${p.id}')">➕ Add to Cart</button>
          </div>
        `;
        list.appendChild(card);
      });
    }
  

    async function addCategory() {
      const name = document.getElementById("catName").value;
      if (!name) return alert("Enter category name");

      const res = await fetch(`${API}/categories`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ name })
      });

      if (res.ok) {
        alert("✅ Category added");
        fetchCategories();
        loadCategories();
      } else {
        alert("❌ Failed to add");
      }
    }

    async function loadCategories() {
      const res = await fetch(`${API}/categories`);
      const cats = await res.json();
      const list = document.getElementById("categoryList");

      // document.getElementById("productPreview").appendChild(img);

      list.innerHTML = "";

      cats.forEach(cat => {
        const div = document.createElement("div");
        div.className = "item";
        div.innerHTML = `
          <b>${cat.name}</b><br>
          <button onclick="editCategory(${cat.id}, '${cat.name}')">✏️ Edit</button>
          <button onclick="deleteCategory(${cat.id})">🗑️ Delete</button>
        `;
        list.appendChild(div);
      });
    }

    function editCategory(id, oldName) {
      const newName = prompt("New category name:", oldName);
      if (!newName || newName === oldName) return;

      fetch(`${API}/categories/${id}`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ name: newName })
      }).then(res => {
        res.ok ? (alert("✅ Updated"), loadCategories()) : alert("❌ Failed to update");
      });
    }

    async function deleteCategory(id) {
      if (!confirm("Delete this category?")) return;
      const res = await fetch(`${API}/categories/${id}`, { method: "DELETE" });
      res.ok ? (alert("✅ Deleted"), loadCategories()) : alert("❌ Failed");
    }

    async function addAdmin() {
      const telegramId = document.getElementById("adminId").value;
      if (!telegramId) return alert("Enter Telegram ID");

      const res = await fetch(`${API}/admins`, {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ telegram_id: parseInt(telegramId) })
      });

      if (res.ok) {
        alert("✅ Admin added");
        loadAdmins();
      } else {
        alert("❌ Failed");
      }
    }

    async function loadAdmins() {
      const res = await fetch(`${API}/admins`);
      const admins = await res.json();
      const list = document.getElementById("adminList");
      list.innerHTML = "";

      admins.forEach(adm => {
        const div = document.createElement("div");
        div.className = "item";
        div.innerHTML = `
          <b>ID:</b> ${adm.telegram_id}<br>
          <button onclick="editAdmin(${adm.telegram_id})">✏️ Edit</button>
          <button onclick="deleteAdmin(${adm.telegram_id})">🗑️ Delete</button>
        `;
        list.appendChild(div);
      });
    }

    function editAdmin(oldId) {
      const newId = prompt("New Telegram ID:", oldId);
      if (!newId || newId == oldId) return;

      fetch(`${API}/admins/${oldId}`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ telegram_id: parseInt(newId) })
      }).then(res => {
        res.ok ? (alert("✅ Updated"), loadAdmins()) : alert("❌ Failed");
      });
    }

    function deleteAdmin(id) {
      if (!confirm("Remove this admin?")) return;

      fetch(`${API}/admins/${id}`, {
        method: "DELETE"
      }).then(res => {
        res.ok ? (alert("✅ Removed"), loadAdmins()) : alert("❌ Failed");
      });
    }

    // Run on load
    window.addEventListener("DOMContentLoaded", loadUserProducts)
    tg.ready();
  </script>
</body>
</html>
